<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="FoodMapper">
	
	<!--表名 -->
	<sql id="tableName">
		food
	</sql>
	
		
	<select id="findById"  parameterType="pd" resultType="com.flc.entity.food.Food" >
		select 
			*
		from 
		<include refid="tableName"></include>
		where 
			food_id = #{food_id}
	</select>
	
	
	<select id="listFood"  parameterType="pd" resultType="com.flc.entity.food.Food" >
		select 
			*
		from 
		<include refid="tableName"></include>
		where 1 = 1
		<if test="restaurant_id != null">
			and restaurant_id = #{pd.restaurant_id} 
		</if>
	</select>
</mapper>